<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XO</title>
</head>
<body>
    <div class="app">

  
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
      </div>

<script>

fetch("/update/" + JSON.stringify(['', '', '', '','', '', '', '', '']))
  .then((data) => data.json())
  .then((json) => {
    console.log("success");
  });
let isStart = false;
let status = "x";
let isActive = true;
let oldList = [];
class Game {
  constructor(name) {}
}
let player = new Game("Ivan");

let td = document.getElementsByTagName("td");

for (let i = 0; i < td.length; i++) {
  td[i].addEventListener("click", function (e) {
    if (td[i].textContent == "" && isActive) {
        isStart = true;
        isActive = false;
      td[i].textContent = status;

      // http://127.0.0.1:5600/update/[x]
      let list = [];
      for (let j = 0; j < td.length; j++) {
        list.push(td[j].textContent);
      }
        oldList = list;

      list = JSON.stringify(list);
      fetch("https://xo1.onrender.com/update/" + list)
        .then((data) => data.json())
        .then((json) => {
          console.log("success");
        });
    }
  });
}
a = [] // [] - 4230
b = [] // [] - 6789
c = 1 // value
d = 1 // value

// [] == [] // false
function arraysEqual(a, b) {  
    if (a.length !== b.length) {
        return false;  
    }
    for (let i = 0; i < a.length; i++) {
        if (a[i] !== b[i]) return false;
    }
    return true;
}


setInterval(function () {
  fetch("/get-update/")
    .then((data) => data.json())
    .then((json) => {
      console.log(json.data.state);
      if (!arraysEqual(oldList, json.data.state)) {
        isActive = true;
        oldList = json.data.state;

        if (!isStart && json.data.state.includes("x")) {
        status = "o";
        isStart = true;
        }
      }

      for (let i = 0; i < 9; i++) {
        td[i].textContent = json.data.state[i];
      }
    });
}, 5000);


</script>

<style>
    td {
    width: 70px;
    height: 70px;
    border: 3px solid #000;
    border-collapse: collapse;
    text-align: center;
    font-size: 50px;
}
table {
        margin-left: -3px;
    margin-top: -3px;
    border-collapse: collapse;
    width: 230px;

}
.app {
 

    width: 224px;
    height: 220px;
    overflow: hidden;


}
</style>


</body>
</html>